{% extends 'base.html' %}

{% block content %}

<h1>今日の番組一覧</h1>
<style>
.flex{
    display: flex;
    border: 1px solid #333;
}
.flex div{
    border: 1px solid #333;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 20px;
}

</style>
<div style="display: grid; justify-items: center; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; overflow: scroll;" >
{% for date in date_list %}
    <div class="home" >
        <input type="radio" name=""><a href="{% url 'tvasahi:tv_list' date.pk %}" style="color: inherit; text-decoration: none;">{{ date.on_air_date }}</a>
    </div>
{% endfor %}
</div>
<div class="parent">
 <div class="child">
{% for tv in tv_list %}

    <table class="list">
        <tr class="name-hover">
            <th>{{ tv.get_time_hour_and_minute }}</th>
                {% if tv.url == null %}
                    <td>{{ tv.program_name }}</td>
                {% else %}
                    <td><a href="{{ tv.url }}" target="_blank" style="color: inherit; text-decoration: none;">{{ tv.program_name }}</a></td>
                {% endif %}
                <!--　<button onclick="location.href='{% url "tvasahi:tv_detail" tv.pk %}'" type="submit">詳細ページ</button>-->
                <td class="btn btndetail"><a href="{% url 'tvasahi:tv_detail' tv.pk %}">詳細ページ</a></td>
        </tr>
    </table>
{% endfor %}
</div>
    <div class="child">
        <a class="twitter-timeline" data-width="400px" data-height="500px" href="https://twitter.com/tv_asahi_PR?ref_src=twsrc%5Etfw" >Tweets by tv_asahi_PR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}