{%  extends 'base.html' %}
{% block content %}

<h2>マイページ</h2>
<style>
    .parent{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 20px;
    }
    .icon{
    border: solid 5px #FF0099
    }

<!--コメント欄のcss-->
    .search_button{
          cursor: pointer;
          width: 50px;
          height: 25px;
          border: none;
          padding: 0.5em 1em;
          text-decoration: none;
          background: #ff0099;
          color: #FFF;
          border-radius: 3px;
    }
    .search_button:active{
          box-shadow:inset -2px -2px 3px rgba(255, 255, 255, .6),
          inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    .search_button:hover{
        background-color: #c71585;
    }
    .comment_child{
        font-weight: bolder;
        vertical-align: middle;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
	}



</style>
    <div class="parent">
    <div class="child">
    <table class="detail">
        <tr>
            <th >ユーザー名</th>
            <td style="font-weight: 500;">{{ customuser.username }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>メールアドレス</th>
            <td style="font-weight: 500;">{{ customuser.email }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>住所</th>
            <td style="font-weight: 500;">{{ customuser.address }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>好きな番組ジャンル</th>
            <td style="font-weight: 500;">{{ customuser.favorite_category }}</td>
        </tr>
    </table>
    </div>
    <div class="child">
        {% if customuser.icon %}
            <img class="icon" src="{{ customuser.icon.url }}/" width="200px" height="190px">
        {% else %}
            <img src="../../../static/picture/noimage.png" alt="noimage" width="200x" height="190px">
        {% endif %}
    </div>
    </div>

<br>


<div class="" style="display: flex; justify-content: space-around;">
    <a href="{% url 'tvasahi:user_update' customuser.pk %}" class="btn btndetail">更新ページへ</a>
    <a href="#" onclick="msgdsp1(); return false;" class="btn btndetail">ログアウト</a>
    <form name="delete" method="post" action="{% url 'tvasahi:user_delete' customuser.pk %}">
        {% csrf_token %}
        <input type="hidden" class="btn btn-danger" onclick="msgdsp2(); return false;" >
        <a href="{% url 'tvasahi:user_delete' customuser.pk %}" onclick="msgdsp2(); return false;" class="btn btndetail">削除</a>
    </form>
</div>
<br><br>

<h2>投稿コメント一覧</h2>

{% if comment_list %}
    {% for comment in comment_list %}
    <div style="border: solid 1px; border-radius: 5px; padding: 5px; margin: 0px;">
        {% if comment.target.url == null %}
        <p class="comment_child">{{ comment.target.date }} {{ comment.target.get_time_hour_and_minute }}放送  『{{ comment.target.program_name }}』</p>
        <p style="font-size: 10px; padding-top: 0px; margin-top: 0px;">{{ comment.pub_date|date:"Y/m/d(D) H:i:s" }} 投稿</p>
            {{ comment }}
        {% else %}
        <p class="comment_child">{{ comment.target.date }} {{ comment.target.get_time_hour_and_minute }}放送  <a href="{{ comment.target.url }}">『{{ comment.target.program_name }}』</a></p>
        <p style="font-size: 10px; padding-top: 0px; margin-top: 0px;">{{ comment.pub_date|date:"Y/m/d(D) H:i:s" }} 投稿</p>
            {{ comment }}
        {% endif %}

        <form name="comment_delete" method="post" action="{% url 'tvasahi:comment_delete2' comment.pk %}">
                {% csrf_token %}

                <button type="button" class="search_button"  style="border: none; width: 50px; height: 25px;" onclick="msgdsp3('{{ comment.pk }}')" >削除</button>

        </form>
    </div>
    <br>
    {% endfor %}
{% else %}
    過去のコメントはありません
{% endif %}

{% endblock %}

{% block extra_js %}
  <script>
    function msgdsp1() {
      var confirmLogout = confirm('本当にログアウトしますか？');
      if (confirmLogout) {
        window.location.href = "{% url 'tvasahi:logout' %}";
      }
    }
  </script>

  <script>
    function msgdsp2(){
    var confirmDelete = confirm('本当にアカウントを削除しますか？');
      if (confirmDelete) {
        document.delete.submit() ;
      }
    }
  </script>

  <script>
    function msgdsp3(pk){
    var confirmDelete = confirm('本当にコメントを削除しますか？');
      if (confirmDelete) {
        document.comment_delete.action = '/comment_delete2/' + pk + '/';
        document.comment_delete.submit() ;
      }
    }
  </script>
{% endblock %}