{%  extends 'base.html' %}
{% block content %}

<h2>マイページ</h2>
    <table class="detail">
        <tr>
            <th>ユーザー名</th>
            <td>{{ customuser.username }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>メールアドレス</th>
            <td>{{ customuser.email }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>好きな番組ジャンル</th>
            <td>{{ customuser.favorite_category }}</td>
        </tr>
    </table>

<!--    {% for comment in comment_list %}-->
<!--    <div>-->
<!--        {{ tv.get_time_hour_and_minute }}-->
<!--        {% if tv.url == null %}-->
<!--            {{ tv.program_name }}-->
<!--        {% else %}-->
<!--            <a href="{{ tv.url }}">{{ tv.program_name }}</a>-->
<!--        {% endif %}-->
<!--        &lt;!&ndash;　<button onclick="location.href='{% url "tvasahi:tv_detail" tv.pk %}'" type="submit">詳細ページ</button>&ndash;&gt;-->
<!--        <a href="{% url 'tvasahi:tv_detail' tv.pk %}">詳細ページ</a>-->
<!--    </div>-->
<!--    <br>-->
<!--  {% endfor %}-->

<br>


<div class="btn" style="display: flex; justify-content: space-around;">
    <a href="{% url 'tvasahi:user_update' customuser.pk %}" >更新ページへ</a>
    <a href="#" onclick="msgdsp1(); return false;">ログアウト</a>
    <form name="delete" method="post" action="{% url 'tvasahi:user_delete' customuser.pk %}">
        {% csrf_token %}
        <input type="hidden" class="btn btn-danger" onclick="msgdsp2(); return false;" >
        <a href="{% url 'tvasahi:user_delete' customuser.pk %}" onclick="msgdsp2(); return false;" class="btn btn-danger">削除</a>
    </form>
</div>



{% endblock %}

{% block extra_js %}
  <script>
    function msgdsp1() {
      var confirmLogout = confirm('本当にログアウトしますか？');
      if (confirmLogout) {
        window.location.href = "{% url 'tvasahi:logout' %}";
      }
    }
  </script>

  <script>
    function msgdsp2(){
    var confirmDelete = confirm('本当に削除しますか？');
      if (confirmDelete) {
        document.delete.submit() ;
      }
    }

  </script>
{% endblock %}