{%  extends 'base.html' %}
{% block content %}

<h2>マイページ</h2>
<style>
    .parent{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 20px;
    }
    .icon{
    border: solid 5px #FF0099
    }

</style>
    <div class="parent">
    <div class="child">
    <table class="detail">
        <tr>
            <th>ユーザー名</th>
            <td>{{ customuser.username }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>メールアドレス</th>
            <td>{{ customuser.email }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>住所</th>
            <td>{{ customuser.address }}</td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th>好きな番組ジャンル</th>
            <td>{{ customuser.favorite_category }}</td>
        </tr>
    </table>
    </div>
    <div class="child">
        <img class="icon" src="{{ customuser.icon.url }}/" width="200px" height="190px">
    </div>
    </div>

<br>


<div class="btn btndetail" style="display: flex; justify-content: space-around;">
    <a href="{% url 'tvasahi:user_update' customuser.pk %}" >更新ページへ</a>
    <a href="#" onclick="msgdsp1(); return false;">ログアウト</a>
    <form name="delete" method="post" action="{% url 'tvasahi:user_delete' customuser.pk %}">
        {% csrf_token %}
        <input type="hidden" class="btn btn-danger" onclick="msgdsp2(); return false;" >
        <a href="{% url 'tvasahi:user_delete' customuser.pk %}" onclick="msgdsp2(); return false;" class="btn btn-danger">削除</a>
    </form>
</div>
<br><br>

<h2>投稿コメント一覧</h2>
{% if comment_list %}
    {% for comment in comment_list %}
    <div>
        {{ comment.target.date }}
        {{ comment.target.get_time_hour_and_minute }}放送
        {% if comment.target.url == null %}
            {{ comment.target.program_name }}
            <br>
            {{ comment }}
        {% else %}
            <a href="{{ comment.target.url }}">{{ comment.target.program_name }}</a>
            <br>
            {{ comment }}
        {% endif %}
    </div>
    <div>
        <form name="comment_delete" method="post" action="{% url 'tvasahi:comment_delete2' comment.pk %}">
                {% csrf_token %}
                <button type="button" class="btn btn-danger" onclick="msgdsp3('{{ comment.pk }}')" >削除</button>
        </form>
    </div>
    <br>
    {% endfor %}
{% else %}
    過去のコメントはありません
{% endif %}

{% endblock %}

{% block extra_js %}
  <script>
    function msgdsp1() {
      var confirmLogout = confirm('本当にログアウトしますか？');
      if (confirmLogout) {
        window.location.href = "{% url 'tvasahi:logout' %}";
      }
    }
  </script>

  <script>
    function msgdsp2(){
    var confirmDelete = confirm('本当にアカウントを削除しますか？');
      if (confirmDelete) {
        document.delete.submit() ;
      }
    }
  </script>

  <script>
    function msgdsp3(pk){
    var confirmDelete = confirm('本当にコメントを削除しますか？');
      if (confirmDelete) {
        document.comment_delete.action = '/comment_delete2/' + pk + '/';
        document.comment_delete.submit() ;
      }
    }
  </script>
{% endblock %}