{% extends 'base.html' %}

{% block content %}

<style>
    .search_button{
          cursor: pointer;
          width: 50px;
          height: 25px;
          border
          padding: 0.5em 1em;
          text-decoration: none;
          background: #ff0099;
          color: #FFF;
          border-radius: 3px;
    }
    .search_button:active{
          box-shadow:inset -2px -2px 3px rgba(255, 255, 255, .6),
          inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    .search_button:hover{
      background-color: #ffffff
      color: #ff0099
    }
    h4{
	font-weight: bolder;
	vertical-align: middle;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	}
	h4 img{
	vertical-align: middle;
	}

</style>

    <h1>番組詳細</h1>

    <table class="detail">
        <tr>
            <th>放送日</th>
            <td>{{ tv.date.on_air_date }}</td>
        </tr>
        <tr>
            <th>放送時間</th>
            <td>{{ tv.get_time_hour_and_minute }}</td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td>{{ tv.program_name }}</td>
        </tr>
        <tr>
            <th>番組内容</th>
            <td>{{ tv.content }}</td>
        </tr>
        <tr>
            <th>カテゴリ</th>
            <td>{{ tv.category }}</td>
        </tr>
    </table>

<br>

    <div class="btn back">
        <a href="{% url 'tvasahi:tv_list' tv.date.pk %}">番組一覧へ戻る</a>
    </div>

    <h1>コメント欄</h1>
    {% for comment in tv.comment_set.all %}
        <div style="border: solid 1px; border-radius: 5px; padding: 5px; margin: 5px;">
            <h4 class="comment_child"><img src="{{ comment.user_name.icon.url }}" width="25px" alt="アイコン" style="border-radius: 10px;">{{ comment.user_name.username }}</h4>
            <p class="comment_child" style="font-size: 10px; padding-top: 0px; margin-top: 0px;">{{ comment.pub_date|date:"Y/m/d(D) H:i:s" }}</p>

            <div>
                <p>{{ comment.comment | linebreaks }}</p>
            </div>

            {% if comment.user_name.username == user.username %}
                <form name="delete{{ comment.pk }}" method="post" action="{% url 'tvasahi:comment_delete' comment.pk %}">
                    {% csrf_token %}
                    <button class="search_button" type="button" class="btn btn-danger" onclick="msgdsp('delete{{ comment.pk }}')">削除</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}

    <div class="btn btndetail">
        <a href="{% url 'tvasahi:comment_create' tv.id %}">コメント投稿</a>
    </div>



{% endblock %}

{% block extra_js %}

  <script>
    function msgdsp(name){
    var confirmDelete = confirm('本当に削除しますか？');
      if (confirmDelete) {
        const form = document.getElementsByName(name)[0]
        form.submit()
      }
    }

  </script>
{% endblock %}