{% extends 'base.html' %}

{% block content %}
    <h1>番組詳細</h1>

    <table class="detail">
        <tr>
            <th>放送日</th>
            <td>{{ tv.date.on_air_date }}</td>
        </tr>
        <tr>
            <th>放送時間</th>
            <td>{{ tv.get_time_hour_and_minute }}</td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td>{{ tv.program_name }}</td>
        </tr>
        <tr>
            <th>番組内容</th>
            <td>{{ tv.content }}</td>
        </tr>
        <tr>
            <th>カテゴリ</th>
            <td>{{ tv.category }}</td>
        </tr>
    </table>

<br>

    <div class="btn back">
        <a href="{% url 'tvasahi:tv_list' tv.date.pk %}">番組一覧へ戻る</a>
    </div>

    <h1>コメント欄</h1>
    {% for comment in tv.comment_set.all %}

        <h4>{{ comment.user.username }}</h4>

        <div>
            <p>{{ comment.comment | linebreaks }}</p>
        </div>
        <hr>
    {% endfor %}

    <div class="btn btndetail">
        <a href="{% url 'tvasahi:comment_create' tv.id %}">コメント投稿</a>
    </div>



{% endblock %}