{% extends 'base.html' %}

{% block content %}
    <h1>番組詳細</h1>

    <h3>放送日</h3>
        <p>{{ tv.date.on_air_date }}</p>

    <h3>放送時間</h3>
        <p>{{ tv.time }}</p>

    <h3>タイトル</h3>
        <p>{{ tv.program_name }}</p>

    <h3>番組内容</h3>
        <p>{{ tv.content }}</p>

    <h3>カテゴリ</h3>
        <p>{{ tv.category }}</p>


    <h1>コメント欄

    </h1>
    {% for comment in tv.comment_set.all %}

        <div>
            <h4>{{ comment.name }}</h4>
            <p>{{ comment.text | linebreaks }}</p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}