{% extends 'base.html' %}
{% block content %}

    {% for tv in tv_list|slice:":1" %}
        <h1>{{ tv.date.on_air_date }} 番組一覧</h1>
    {% endfor %}

   {% for date in date_list %}
    <div class="home">
        <input type="radio"><a href="{% url 'tvasahi:tv_list' date.pk %}" style="color: inherit; text-decoration: none;">{{ date.on_air_date }}</a>
    </div>
    {% endfor %}

    {% for tv in tv_list %}
    <table class="list">
        <tr>
            <th>{{ tv.get_time_hour_and_minute }}</th>
            {% if tv.url == null %}
                <td>{{ tv.program_name }}</td>
            {% else %}
                <td><a href="{{ tv.url }}" target="_blank" style="color: inherit; text-decoration: none;">{{ tv.program_name }}</a></td>
            {% endif %}
            <!--　<button onclick="location.href='{% url "tvasahi:tv_detail" tv.pk %}'" type="submit">詳細ページ</button>-->
            <td class="btn btndetail"><a href="{% url 'tvasahi:tv_detail' tv.pk %}">詳細ページ</a></td>
        </tr>
    </table>
  {% endfor %}


{% endblock %}