{% extends 'base.html' %}

{% block content %}
<h1>番組を検索</h1>

<div class="">
    <form action="" method="GET">
        {{ form }}
        <button type="submit">検索</button>
    </form>
</div>

<h3>検索結果</h3>

{% for tv in tv_list %}
    <table class="list">
        <tr>
            <th>{{ tv.date.on_air_date }}</th>
            <td><a href="{% url 'tvasahi:tv_detail' tv.pk %}" style="color: inherit; text-decoration: none;">{{ tv.program_name }}</a></td>
        </tr>
    </table>
{% endfor %}

{% endblock %}