{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<h1>番組を検索</h1>


<form action="" method="GET">
    <div style="">
        キーワード :
        <label class="search-form-011" style="">
            <input name="keyword" type="text" placeholder="キーワードを入力" value="{{ form.cleaned_data.keyword }}">
        </label>

        カテゴリー :<br>
        <label class="selectbox-002">
            <select name="category">
                <option value="" >{{ category }}選択してください</option>
                {% for category in form.category.field.queryset %}
                {% if category.id == category_value %}
                <option value="{{ category.id }}" selected>{{ category }}</option>
                {% else %}
                <option value="{{ category.id }}">{{ category }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </label>
        <br>
        <button type="submit" class="search_button">検索</button>
    </div>
</form>


<h3>検索結果</h3>

{% for tv in tv_list %}
    <table class="list">
        <tr class="name-hover">
            <th>{{ tv.date.on_air_date }}</th>
            <td><a href="{% url 'tvasahi:tv_detail' tv.pk %}" style="color: inherit; text-decoration: none;">{{ tv.program_name }}</a></td>
        </tr>
    </table>
{% endfor %}

{% endblock %}