{% extends 'base.html' %}

{% load widget_tweaks %}


{% block content %}
<body>
    <h2>ユーザー情報更新ページ</h2>
    <form method="POST">
        {% csrf_token %}

        <label class="search-form-011">
            <input name="username" type="text" placeholder="ユーザー名" value="{{ username }}" >
        </label>
        <label class="search-form-011">
            <input name="email" type="email" placeholder="メールアドレス" value="{{ email }}">
        </label>
        <label class="selectbox-002">
            <select name="favorite_category">
                <option value="">{{ favorite_category }}選択してください</option>
                {% for favorite_category in form.favorite_category.field.queryset %}
                    <option value="{{ favorite_category.id }}">{{ favorite_category }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        {{ form.username.errors }}
        {{ form.email.errors }}
        {{ form.favorite_category.errors }}
        <input type="submit" id="save" class="search_button" value="更新">
    </form>
</body>
{% endblock %}
