{% extends 'base.html' %}

{% block content %}
<h2>商品リスト</h2>
<button onclick="location.href='{% url 'store:modelcart_content' pk=1 %}'">カート</button>


<form action="" method="get" id="GoodsSearchForm">
    <div style="display: flex; justify-content: center;">
        <label class="search-form-blue" style="">
            <input name="name" type="text" placeholder="キーワードを入力" value="{{ form.cleaned_data.name }}">
        </label>
        <button type="submit" class="search_button_blue" style="">検索</button>
    </div>
</form>



{% if goods_list %}
<div>
<ul style="list-style: none;">
    {% for goods in goods_list %}
    <li><a class="ec-name" href="{% url 'store:detail' goods.pk %}">{{ goods.name }} </a></li>
    {{ goods.price }}円
    <a href="{% url 'store:detail' goods.pk %}">
        <li><img src="{{ goods.image.url }}" style="max-width: 100%; max-height: 150px;"/></li>
    </a>
    {% endfor %}
</ul>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">前のページへ</a>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span class="page-link" href="#">{{ link_page }}</span>
        {% else %}
           <span class="page-link" href="#"><a
                   href="?{{ query_string }}&page={{ link_page }}">{{ link_page }}</a></span>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">次のページへ</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>検索に該当する商品は存在しませんでした</p>
{% endif %}

{% endblock %}
