{% extends 'base.html' %}

{% block content %}
<h2>商品リスト</h2>
<form method="get" id="GoodsSearchForm">
    {{ form }}
    <input type="submit" value="search" formaction="{% url 'store:home' %}">
</form>

{% if goods_list %}
<ul>
    {% for goods in goods_list %}
    <li><a href="{% url 'store:detail' goods.pk %}">{{ goods.name }}</a></li>
    <li>商品画像 <img src="{{ goods.image.url }}"/></li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">前のページへ</a>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span class="page-link" href="#">{{ link_page }}</span>
        {% else %}
           <span class="page-link" href="#"><a
                   href="?{{ query_string }}&page={{ link_page }}">{{ link_page }}</a></span>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">次のページへ</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>検索に該当する書籍は存在しませんでした</p>
{% endif %}

{% endblock %}
