{% extends 'base2.html' %}

{% block content %}
<h1 style="display: flex; justify-content: space-around;">購入内容</h1>
   <table style="display: flex; justify-content: space-around;">
        <tr>
            <th style="text-align: center;">商品</th>
            <th style="text-align: center;">数量</th>
        </tr>
        {% for cartunit in user.cart.units.all %}
            <tr>
                <th style="text-align: center;">{{ cartunit.goods }}</th>
                <th style="text-align: center;">{{ cartunit.quantity }}</th>
            </tr>
        {% endfor %}
    </table>

    <h1 style="display: flex; justify-content: space-around;">請求額</h1>
    <div style="display: flex; justify-content: space-around; font-weight: bold;">{{ total_price }}円</div>

    <h1 style="display: flex; justify-content: space-around;">配送先</h1>
    <div style="display: flex; justify-content: space-around; font-weight: bold;">{{ user.address }}</div>
<br><br><br>
    <div style="display: flex; justify-content: space-around;">
        <form action="{% url 'store:_purchase_process' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="uname" value="{{ user.username }}">
            <button type="submit" class="btn_ec btndetail_ec" style="border:none;">購入確定</button>
        </form>
    </div>
{% endblock %}
